<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NRU304 Synthetic Alert</title>
    </head>
    <body>
        <div>
            <div>
                <img src="https://newrelic.com/themes/custom/erno/assets/mediakit/new_relic_logo_vertical.png" width="20%">
                <h1> NRU304</h1>
            </div>
            <h2> Hello, New Relic experts!!</h2>
        </div>
        <div>
            <a href="https://docs.newrelic.com/jp/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors/">New Relic外型監視の設定方法</a>
        </div>
        
    </body>
</html>
